@font-face {
  font-family: P2P;
  src: url(/Assets/FONTS/PressStart2P-Regular.ttf);
}

body {
  text-align: center;
  font-family: P2P;
  background-image: linear-gradient(rgb(10, 36, 99), #3e92cc);
}

html {
  height: 100vh;
}

#chance {
  margin: auto;
  display: inline-block;
  font-size: 48px;
  color: #f8f7ff;
}

#main-grid {
  padding-top: 3%;
  margin: auto;
  width: 384px;
  height: 384px;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 128px);
  grid-template-rows: repeat(3, 128px);
}

.tiles {
  background-color: #f8f7ff;
  display: inline-block;
  border: 4px solid #838996;
  width: 124px;
  height: 124px;
}

.X {
  background-image: url(Assets/Icons/X_icon.png);
  background-repeat: no-repeat;
}

.O {
  background-image: url(Assets/ICONS/O_icon.png);
  background-repeat: no-repeat;
}

button {
  background-color: #838996;
  color: rgb(10, 36, 99);
  padding: 10px;
  text-align: center;
  font-family: P2P;
  font-size: 24px;
}

#btn {
  padding-top: 3%;
}
