body {
  font-family: sans-serif;
  background-image: linear-gradient(#f7ff00, #db36a4);
}

html {
  height: 100vh;
}

#main-grid {
  margin: auto;
  width: 384px;
  height: 384px;
  background-color: aqua;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 128px);
  grid-template-rows: repeat(3, 128px);
}

.tiles {
  background-color: green;
  display: inline-block;
  border: 2px solid crimson;
  width: 128px;
  height: 128px;
}

#turn {
  display: inline;
}

.x {
  background-image: url(Icons/x.png);
  background-repeat: no-repeat;
}

.o {
  background-image: url(Icons/o.png);
  background-repeat: no-repeat;
}
